<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../style/public.css" rel="stylesheet" />
		<link href="../../style/shopcar.css" rel="stylesheet" />
	</head>
	<body>
		<header>
		<div class="margin">
			<ul>
				<li><a href="login.html">登录</a></li>
				<li><a href="register.html">注册</a></li>
				<li><a href="#">我的订单</a></li>
				<li><a href="#">会员</a></li>
				<li><a href="#">甄选家</a></li>
				<li><a href="#">企业采购</a></li>
				<li><a href="#">=</a></li>
				<li><a href="#">客户服务</a></li>
				<li><a href="#">=</a></li>
				<li><a href="#">手机APP</a></li>	
			</ul>
		</div>
	</header>
   <div class="top">
		<div class="margin">
			<div class="top-l">
				<img src="../static/images/1.png" />
			</div>
			<div class="top-c">
				<form>
				<input type="text"class="txt" />
				<input type="button"class="btn" />
				</form>
			</div>
			<div class="top-r">
				<div><a>购物车</a><p>0</p></div>
				
			</div>
		</div>
	</div>
	<nav>
		<div class="margin">
			<ul>
		       <li><a href="index.html">首页</a></li>
		       <li>
		       	<a href="#">居家生活</a>
		       	<div class="homemore" style="z-index:10;display:none;background:#F0F0F0">
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       		<ul class="u">
		       			<li class="z">季节热卖</li>
		       			<li class="one"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="two"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       			<li class="there"><img src="../static/images/11.png"/><a href="#">羽厚被绒</a></li>
		       		</ul>
		       	</div>
		       	
		       </li>
		       <li>
		       	<a href="#">服饰鞋包</a>
		       </li>
		       <li><a href="#">美食酒水</a></li>
		       <li><a href="#">个户清洁</a></li>
		       <li><a href="#">母婴亲子</a></li>
		       <li><a href="#">运动旅行</a></li>
		       <li><a href="#">数码家电</a></li>
		       <li><a href="#">礼品特色</a></li>
		       <li><a href="#">为你严选</a></li>
		       <li><a href="#">众筹</a></li>
		  </ul>       
		</div>
	</nav>
	<div class="speed"><img src="../static/images/s1.png"/></div>
	<div class="box">
		<div class="tbox">
			<p></p>
			<span>全选</span>
			<span>商品信息</span>
			<span>规格</span>
			<span>单价</span>
			<span>数量</span>
			<span>优惠</span>
			<span>小计</span>
			<span>操作</span>
			
			
		</div>
		<div class="cbox">
			<span>温馨提示，选购清单中的商品不误保留库存，请您及时结算</span>
		</div>
		<!--<div class="bbox">
			<p></p>
			<img src="../static/images/11.png" />
			<span>舒适软床大享受舒适软床大享受舒适软床大享受舒适软床大享</span>
			<span>尺码：34</span>
			<span>￥39.9</span>
			<span>-</span><span>1</span><span>+</span>
			<span>$5</span>
			<span>小计</span>
			<span class="remov">删除</span>
			
		</div>-->
	</div>
	
	
	<div class="js">
		<!--<span>总计：</span>
		<span>39.9</span>
		<p>去结算</p>-->
	</div>
	
	</body>
	<script src="../scripts/libs/require.js" data-main="shopcar.js" ></script>
</html>
